{% load static wagtailcore_tags %}

<div class="footer bg-white pt-5 pb-3">
    <footer class="container">
        <div class="row d-flex justify-content-between align-items-center flex-column flex-md-row text-center text-md-start">
            <div class="left-side mb-4 mb-md-0">
                <a class="sm-icon me-3" href="{{ settings.home.MetaSettings.facebook }}" target="_blank">
                    <img src="{% static 'icons/fb.svg' %}" alt="Povezava do naše Facebook strani">
                </a>
                <a class="sm-icon me-3" href="{{ settings.home.MetaSettings.twitter }}" target="_blank">
                    <img src="{% static 'icons/tw.svg' %}" alt="Povezava do našega Twitter profila">
                </a>
                <a class="sm-icon" href="{{ settings.home.MetaSettings.youtube }}" target="_blank">
                    <img src="{% static 'icons/yt.svg' %}" alt="Povezava do našega Youtube kanala">
                </a>
                <p class="mt-4"><a href="mailto:{{ settings.home.MetaSettings.email }}" target="_blank">{{ settings.home.MetaSettings.email }}</a></p>
            </div>
            <div class="right-side d-flex flex-column flex-lg-row">
                <div>
                    <a href="https://danesjenovdan.si/" target="_blank">
                        <img class="img-fluid mb-4 mb-lg-2 me-lg-5" src="{% static 'images/logo-djnd.png' %}" alt="DJND logo">
                    </a>
                </div>
                <div>
                    <a href="https://www.gov.si/drzavni-organi/ministrstva/ministrstvo-za-javno-upravo/o-ministrstvu-za-javno-upravo/" target="_blank">
                        <img class="img-fluid mb-4" src="{% static 'images/logo-mju.png' %}" alt="MJU logo">
                    </a>
                    <p>Aktivnost sofinancira Ministrstvo za javno upravo v okviru javnega razpisa za razvoj in profesionalizacijo NVO in prostovoljstva 2019.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
