{% extends "home/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page page--home{% endblock %}

{% block content %}

{% include "home/includes/header.html" with show_logo=False %}

<div class="bg-section bg-section--white">
    <header class="container">
        <div class="row hero align-items-center">
            <div class="col-12 col-lg-5 text-center text-lg-start">
                <h1 class="mb-3">{{ page.title }}</h1>
                <h4>{{ page.subtitle }}</h4>
            </div>
            <div class="col-12 col-lg-7">
                <div>{% image page.image width-820 class="img-fluid w-100 p-4" %}</div>
            </div>
        </div>
    </header>
</div>

{% for block in page.body %}
    {% include_block block %}
{% endfor %}

{% include "home/includes/footer.html" %}

{% endblock content %}
