{% extends "home/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}page page--initiative{% endblock %}

{% block content %}

{% include "home/includes/header.html" with show_logo=False %}

<div class="bg-section bg-section--yellow headline-initiative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase">{{ page.title }}</h1>
                <h3 class="text-uppercase">{{page.organization}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 my-4 my-lg-0">
                {% image page.image width-1444 class="img-fluid w-100" %}
            </div>
            <div class="col-12 col-lg-4 initiative-info">
                <p><span>23</span> podpornikov</p>
                <p>še <span>12</span> dni do zaključka</p>
                <div class="">
                    <div class="badge-initiative">
                        <p>Zbranih <strong>2345 €</strong> od <strong>5000 €</strong>.</p>
                    </div>
                </div>
                <div class="progress">
                    <span class="progress-bar" style="width: 75%"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-section bg-section--light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 body-initiative pe-lg-5 rich-text">
                {{ page.body|richtext }}
            </div>
            <div class="col-4 d-none d-lg-block">
                <div class="sidebar">
                    <div class="box text-center mb-4">
                        <h3 class="text-uppercase mb-4">{{ page.support_box_title }}</h3>
                        <div class="support-buttons">
                            <div class="support-button">
                                <img src="{% static 'images/support1.svg' %}" alt="doniraj ikona">
                                <span>5 EUR</span>
                            </div>
                            <div class="support-button">
                                <img src="{% static 'images/support2.svg' %}" alt="doniraj ikona">
                                <span>10 EUR</span>
                            </div>
                            <div class="support-button">
                                <img src="{% static 'images/support3.svg' %}" alt="doniraj ikona">
                                <span>25 EUR</span>
                            </div>
                            <div class="support-button">
                                <img src="{% static 'images/support4.svg' %}" alt="doniraj ikona">
                                <span>50 EUR</span>
                            </div>
                            <div class="support-button">
                                <img src="{% static 'images/support5.svg' %}" alt="doniraj ikona">
                                <span>100 EUR</span>
                            </div>
                            <div class="support-button p-4">
                                <input type="text" class="form-control">
                                <span>EUR</span>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 w-100">{{ page.support_box_button_text }}</button>
                    </div>
                    <div class="box text-center">
                        <h3 class="text-uppercase mb-4">{{ page.share_box_title }}</h3>
                        <div class="url mb-4">{{ page.share_box_url }}</div>
                        <div class="social-media d-flex justify-content-between">
                            <button class="btn btn-primary share-box">
                                <div>
                                    <img src="{% static 'images/social-facebook.svg' %}">
                                </div>
                            </button>
                            <button class="btn btn-primary share-box">
                                <div>
                                    <img src="{% static 'images/social-twitter.svg' %}">
                                </div>
                            </button>
                            <button class="btn btn-primary share-box">
                                <div>
                                    <img src="{% static 'images/mejl.svg' %}">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "home/includes/footer.html" %}

{% endblock content %}
