// Set Bootstrap variables here.
// This file is included before Bootstrap is compiled.

$body-color: #000;
$font-family-sans-serif: 'Comfortaa', sans-serif;
$headings-font-family: 'Okolaks WebFont', serif;
$headings-font-weight: 700;
$body-bg: #fffdef;

$border-radius: 0;
$btn-border-width: 2px;

$light: #fffdef;
$primary: #a6d07d;

$link-color: #000;
$link-hover-color: #000;
