// Set Bootstrap variables here.
// This file is included before Bootstrap is compiled.

$font-family-sans-serif: 'Comfortaa', sans-serif;
$headings-font-family: 'Okolaks WebFont', serif;

$body-color: #300;
$body-bg: #fff;
$border-radius: 0;
$success: #7952b3;
