// Add custom styles here.
// This file is included after Bootstrap.

html {
}

.bg-section {
  background-color: #fff;
}

.bg-section--blue {
  background-color: #abafd6;
}

.bg-section--yellow {
  background-color: #fff7b0;
}

.bg-section--pink {
  background-color: #f4b7d1;
}

.headline h2 {
  font-weight: 400;
}

.custom-badge {
  position: absolute;
  top: -75px;
  background-color: #fff7b0;
}

.scrolling-banner {
  background-color: #000;
  overflow: hidden;
  padding: 1rem 0;
}

.scrolling-banner span {
  color: #f4b7d1;
  font-size: 2rem;
  text-transform: uppercase;
  font-style: italic;
  white-space: nowrap;
}

.table th,
.table td {
  border: 1px solid #000;
}
