// Add custom styles here.
// This file is included after Bootstrap.

.hero,
.header,
.headline,
.newsletter,
.share {
  h1 {
    font-size: calc(1.75rem + 1.5vw);
    margin-bottom: 1.5rem;
  }
  h4 {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    line-height: 1.5;
  }
}

.bg-section {
  background-color: $light;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.bg-section--blue {
  background-color: $blue;
}

.bg-section--yellow {
  background-color: $yellow;
}

.bg-section--pink {
  background-color: $pink;
}

.nav-item .btn {
  border-color: $light;
  &.btn-primary {
    border-color: #000;
  }
  &:hover {
    border-color: #000;
  }
  &.active {
    border-color: #000;
  }
  &.active.btn-primary {
    background-color: $blue;
  }
}

.navbar-toggler {
  border: 2px solid black;
  background-color: $primary;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn-primary {
  border-color: #000;
  &:hover {
    background-color: $blue;
    color: #000;
  }
}

.form-label {
  font-weight: 700;
}

.checkbox-wrapper {
  position: relative;
  cursor: pointer;
  margin: 1.5rem 0 1.5rem 2.5rem;

  input {
    position: absolute;
    visibility: hidden;
  }

  span {
    line-height: 2rem;
  }

  span:after {
    content: "";
    position: absolute;
    left: -2.5rem;
    top: 0;
    border: 2px solid black;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
  }

  input:checked + span:after {
    background-image: url("../images/check.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }
}

.hero {
  h4 {
    line-height: 1.5;
  }
}

.header {
  border-bottom: 2px solid #000;
  z-index: $zindex-sticky;

  a {
    text-decoration: none;
  }

  .logo {
    img {
      position: absolute;
      top: 0.5rem;
      width: 12rem;
    }

    span {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-family: $headings-font-family;
      font-weight: 700;
      color: black;

      @media (min-width: 992px) {
        margin-left: 13rem;
      }
    }
  }
}

.headline h2 {
  font-weight: 400;
}

.custom-badge {
  position: absolute;
  padding: 3rem 2rem;
  min-width: 220px;
  background-repeat: no-repeat;
  background-size: contain;

  &.white {
    background-image: url('../images/blob1.svg');
  }
  &.blue {
    background-image: url('../images/blob2.svg');
  }

  &.left {
    left: 0;
  }
  &.center {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.right {
    right: 0;
  }

  .content {
    transform: rotate(-15deg);
    span {
      font-size: 1.5rem;
    }
    span:first-child {
      font-family: $headings-font-family;
    }
    span:nth-child(2) {
      font-weight: 700;
    }
  }
}

.scrolling-banner {
  background-color: #000;
  overflow: hidden;
  position: relative;
  height: 5rem;
}

.scrolling-banner > div {
  color: $pink;
  font-size: 2rem;
  padding: 1rem;
  font-family: $headings-font-family;
  text-transform: uppercase;
  font-style: italic;
  position: absolute;
  min-width: 100%;
  height: 100%;
  white-space: nowrap;
  /* Apply animation to this element */
  -moz-animation: demo-1 20s linear infinite;
  -webkit-animation: demo-1 20s linear infinite;
  animation: demo-1 20s linear infinite;

  &:last-child {
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    animation-delay: 10s;
  }

  h2 {
    margin-bottom: 0;
  }
}

/* Move it (define the animation) */
@-moz-keyframes demo-1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes demo-1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes demo-1 {
  0%   {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

.rich-text {
  h2,
  h3,
  h4 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  p,
  ul {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    padding-left: 0;
  }
  li {
    margin: 0;
    padding: 0.75rem 0 0.75rem 5rem;
    list-style: none;
    background-image: url("../images/wavy-line.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 4rem;
  }
  a {
    font-weight: 700;
  }

  &.left {
    text-align: left;
  }
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
}

table th,
table td {
  border: 2px solid #000;
  font-size: 1.25rem;
  padding: 1rem;
}

.table {
  table-layout: fixed;
}

.qa-table {
  overflow-x: auto;
  table {
    width: 100%;
  }
  th {
    min-width: 200px;
    width: 25%;
    vertical-align: top;
    padding: 1.5rem;
  }
  td {
    min-width: 200px;
    width: 75%;
    line-height: 1.25;
    padding: 1.5rem;
  }
}

.box {
  border: 2px solid #000;
}

.list {
  @media (min-width: 992px) {
    width: 75%;

    & > div {
      width: 50%;
    }
  }

  hr {
    height: 2px;
    opacity: 1;
  }

  p {
    font-size: 1.25rem;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.double-cards .box {
  div {
    min-width: 33%;

    img {
      max-width: 200px;
    }
  }

  p {
    font-size: 1.25rem;
  }
}

.triple-cards .box {
  flex: 1 1 0;

  .icon-bg {
    background-color: white;
    border-radius: 50%;
    border: 2px solid #000;
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 1.25rem;
  }
}

.share {
  .share-box {
    display: block;
    border: 2px solid #000;
    margin: 0.5rem;
    padding: 1rem;
    background-color: $yellow;
    transition: background-color 0.15s ease-in-out;
    @media (min-width: 768px) {
      margin: 1rem;
    }
    &:hover {
      background-color: $pink;
    }

    img {
      height: 3rem;
      width: 3rem;
      @media (min-width: 768px) {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

.button-banner {
  a {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }
}

.newsletter {
  button {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}

footer {
  .left-side,
  .right-side {
    @media (min-width: 768px) {
      width: 33%;
    }
  }
  .left-side {
    img {
      max-width: 12rem;
    }
    p {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
  .right-side {
    img {
      max-width: 16rem;
    }
    p {
      font-size: 0.925rem;
      font-weight: 700;
    }
  }
}
