{% load wagtailcore_tags %}

<div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 rich-text mb-5">
    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="mb-5">
                {% if field.field.widget.widget_type == 'TextInput' or field.field.widget.widget_type == 'NumberInput' or field.field.widget.widget_type == 'EmailInput' %}
                    {% include 'home/form/textinput.html' %}
                {% elif field.field.widget.widget_type == 'Textarea' %}
                    {% include 'home/form/textarea.html' %}
                {% elif field.field.widget.widget_type == 'CheckboxInput' %}
                    {% include 'home/form/checkboxinput.html' %}
                {% elif field.field.widget.widget_type == 'CheckboxSelectMultiple' %}
                    {% include 'home/form/checkboxselectmultiple.html' %}
                {% elif field.field.widget.widget_type == 'RadioSelect' %}
                    {% include 'home/form/radioselect.html' %}
                {% elif field.field.widget.widget_type == 'StaticHeading' %}
                    {% include 'home/form/staticheading.html' %}
                {% else %}
                    <div>TODO: ({{ field.field.widget.widget_type }})</div>
                {% endif %}

                {% for error in field.errors %}
                    <div class="form-text text-danger">{{ error }}</div>
                {% endfor %}

                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% endfor %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-outline-dark">Prispevaj hudo pobudo</button>
    </form>
</div>
