{% load wagtailcore_tags wagtailimages_tags %}

<div class="initiatives-section col-lg-4 mb-4 mb-lg-0">
    <div class="box" data-donation-id="{{value.card1.donation_ID }}" onclick="window.location.href = '{% if value.card1.page %}{% pageurl value.card1.page %}{% endif %}'">
        <div class="">
            {% image value.card1.image width-1100 class="img-fluid w-100" %}
        </div>
        <div class="box-body">
            <h4>{{ value.card1.title }}</h4>
            <h6><a href="{{ value.card1.author_url }}">{{ value.card1.author }}</a></h6>

            <p>{{ value.card1.description }}</p>
            <hr />
            <div class="progress">
                <span class="progress-bar"></span>
            </div>
            <p>Zbranih <strong><span class="amount"></span> €</strong> od <strong>5000 €</strong>.</p>
            <button class="btn btn-primary w-100">{{ value.card1.button_text }}</button>
        </div>
    </div>
</div>
<div class="initiatives-section col-lg-4 mb-4 mb-lg-0">
    <div class="box" data-donation-id="{{value.card2.donation_ID }}" onclick="window.location.href = '{% if value.card2.page %}{% pageurl value.card2.page %}{% endif %}'">
        <div class="">
            {% image value.card2.image width-1100 class="img-fluid w-100" %}
        </div>
        <div class="box-body">
            <h4>{{ value.card2.title }}</h4>
            <h6><a href="{{ value.card2.author_url }}">{{ value.card2.author }}</a></h6>
            <p>{{ value.card2.description }}</p>
            <hr />
            <div class="progress">
                <span class="progress-bar"></span>
            </div>
            <p>Zbranih <strong><span class="amount"></span> €</strong> od <strong>5000 €</strong>.</p>
            <button class="btn btn-primary w-100">{{ value.card2.button_text }}</button>
        </div>
    </div>
</div>
<div class="initiatives-section col-lg-4">
    <div class="box" data-donation-id="{{value.card3.donation_ID }}" onclick="window.location.href = '{% if value.card3.page %}{% pageurl value.card3.page %}{% endif %}'">
        <div class="">
            {% image value.card3.image width-1100 class="img-fluid w-100" %}
        </div>
        <div class="box-body">
            <h4>{{ value.card3.title }}</h4>
            <h6><a href="{{ value.card3.author_url }}">{{ value.card3.author }}</a></h6>
            <p>{{ value.card3.description }}</p>
            <hr />
            <div class="progress">
                <span class="progress-bar"></span>
            </div>
            <p>Zbranih <strong><span class="amount"></span> €</strong> od <strong>5000 €</strong>.</p>
            <button class="btn btn-primary w-100">{{ value.card3.button_text }}</button>
        </div>
    </div>
</div>

