{% load wagtailcore_tags wagtailimages_tags %}

<div class="initiatives-section col-lg-4 mb-4 mb-lg-0 d-flex">
    <a href="{% if value.card1.page %}{% pageurl value.card1.page %}{% endif %}" class="box d-flex flex-column" data-donation-id="{{ value.card1.donation_ID }}">
        <div>
            {% image value.card1.image width-1100 class="img-fluid w-100" %}
        </div>
        <div class="box-body flex-grow-1 d-flex flex-column justify-content-between">
            <div>
                <h4>{{ value.card1.title }}</h4>
                <h6>{{ value.card1.author }}</h6>
                <p>{{ value.card1.description }}</p>
            </div>
            <div>
                <hr />
                {% if not value.hide_donations %}
                <div class="progress">
                    <span class="progress-bar"></span>
                </div>
                {% endif %}
                <p class="{% if value.hide_donations %}my-4 text-center{% endif %}">
                    Zbranih <strong><span class="amount"></span> €</strong>{% if not value.hide_donations %} od <strong>5000 €</strong>{% endif %}.
                </p>
                <button class="btn btn-primary w-100">{{ value.card1.button_text }}</button>
            </div>
        </div>
    </a>
</div>
<div class="initiatives-section col-lg-4 mb-4 mb-lg-0 d-flex">
    <a href="{% if value.card2.page %}{% pageurl value.card2.page %}{% endif %}" class="box d-flex flex-column" data-donation-id="{{ value.card2.donation_ID }}">
        <div>
            {% image value.card2.image width-1100 class="img-fluid w-100" %}
        </div>
        <div class="box-body flex-grow-1 d-flex flex-column justify-content-between">
            <div>
                <h4>{{ value.card2.title }}</h4>
                <h6>{{ value.card2.author }}</h6>
                <p>{{ value.card2.description }}</p>
            </div>
            <div>
                <hr />
                {% if not value.hide_donations %}
                <div class="progress">
                    <span class="progress-bar"></span>
                </div>
                {% endif %}
                <p class="{% if value.hide_donations %}my-4 text-center{% endif %}">
                    Zbranih <strong><span class="amount"></span> €</strong>{% if not value.hide_donations %} od <strong>5000 €</strong>{% endif %}.
                </p>
                <button class="btn btn-primary w-100">{{ value.card2.button_text }}</button>
            </div>
        </div>
    </a>
</div>
<div class="initiatives-section col-lg-4 d-flex">
    <a href="{% if value.card3.page %}{% pageurl value.card3.page %}{% endif %}" class="box d-flex flex-column" data-donation-id="{{ value.card3.donation_ID }}">
        <div>
            {% image value.card3.image width-1100 class="img-fluid w-100" %}
        </div>
        <div class="box-body flex-grow-1 d-flex flex-column justify-content-between">
            <div>
                <h4>{{ value.card3.title }}</h4>
                <h6>{{ value.card3.author }}</h6>
                <p>{{ value.card3.description }}</p>
            </div>
            <div>
                <hr />
                {% if not value.hide_donations %}
                <div class="progress">
                    <span class="progress-bar"></span>
                </div>
                {% endif %}
                <p class="{% if value.hide_donations %}my-4 text-center{% endif %}">
                    Zbranih <strong><span class="amount"></span> €</strong>{% if not value.hide_donations %} od <strong>5000 €</strong>{% endif %}.
                </p>
                <button class="btn btn-primary w-100">{{ value.card3.button_text }}</button>
            </div>
        </div>
    </a>
</div>

