<div class="newsletter d-flex flex-column align-items-center">
    <div class="col-12 col-md-10 col-lg-8 text-center mb-4">
        <h1 class="text-uppercase">{{ value.title }}</h1>
        <h4 class="">{{ value.description }}</h4>
    </div>
    <div class="col-12 col-md-10 col-lg-6 text-center">
        <form class="my-4">
            <div class="input-group">
                <input type="text" class="form-control">
                <button class="btn btn-primary btn-outline-dark" type="button">Prijavi se</button>
            </div>
        </form>
    </div>
</div>
