<div class="newsletter d-flex flex-column align-items-center">
    <div class="col-12 col-md-10 col-lg-8 text-center mb-4">
        <h1 class="text-uppercase">{{ value.title }}</h1>
        <h4 class="">{{ value.description }}</h4>
    </div>
    <div class="col-12 col-md-10 col-lg-6">
        <form class="my-4">
            <div class="input-group text-center">
                <input type="email" class="form-control" id="email" name="email" required>
                <button class="btn btn-primary btn-outline-dark" type="submit">Prijavi se</button>
            </div>
            <div class="input-group mt-1">
                <div class="form-text" id="response"></div>
            </div>
            <label for="confirm-email" class="checkbox-wrapper text-start">
                <input type="checkbox" id="confirm-email" name="confirm-email" required>
                <span>{{ value.checkbox_text }}</span>
            </label>
        </form>
    </div>
</div>
