{% load wagtailimages_tags %}

<div class="triple-cards col-12 col-md-4 p-3">
    <div class="box h-100 p-4 d-flex flex-column">
        <div class="icon-bg mb-3">{% image value.image1 max-60x60 %}</div>
        {% if value.title_big1 %}
        <h2 class="mb-3 text-uppercase">{{ value.title_big1 }}</h2>
        {% endif %}
        {% if value.title_small1 %}
        <h4 class="mb-3 text-uppercase">{{ value.title_small1 }}</h4>
        {% endif %}
        {% if value.description1 %}
        <p>{{ value.description1 }}</p>
        {% endif %}
    </div>
</div>
<div class="triple-cards col-12 col-md-4 p-3">
    <div class="box h-100 p-4 d-flex flex-column">
        <div class="icon-bg mb-3">{% image value.image2 max-60x60 %}</div>
        {% if value.title_big2 %}
        <h2 class="mb-3 text-uppercase">{{ value.title_big2 }}</h2>
        {% endif %}
        {% if value.title_small2 %}
        <h4 class="mb-3 text-uppercase">{{ value.title_small2 }}</h4>
        {% endif %}
        {% if value.description2 %}
        <p>{{ value.description2 }}</p>
        {% endif %}
    </div>
</div>
<div class="triple-cards col-12 col-md-4 p-3">
    <div class="box h-100 p-4 d-flex flex-column">
        <div class="icon-bg mb-3">{% image value.image3 max-60x60 %}</div>
        {% if value.title_big3 %}
        <h2 class="mb-3 text-uppercase">{{ value.title_big3 }}</h2>
        {% endif %}
        {% if value.title_small3 %}
        <h4 class="mb-3 text-uppercase">{{ value.title_small3 }}</h4>
        {% endif %}
        {% if value.description3 %}
        <p>{{ value.description3 }}</p>
        {% endif %}
    </div>
</div>
